<div>
  <div mat-dialog-title [innerHTML]="title" style="font-weight: 700;">
  </div>

  <div class="mt-4" mat-dialog-content [innerHTML]="message">
  </div>

  <div mat-dialog-actions class="actions mt-4">
    <button mat-raised-button (click)="onConfirm()" *ngIf="showButtonOk" class="confirm-button">
      <mat-icon>check</mat-icon>  {{ 'CONFIRMATION_DIALOG.Confirmar' | translate }}
    </button>
    <button mat-raised-button (click)="onDismiss()" *ngIf="showButtonCancel" class="cancel-button">
      <mat-icon>close</mat-icon>  {{ 'CONFIRMATION_DIALOG.Cancelar' | translate }}
    </button>

  </div>

</div>
