:root {
  /*Menu - SideNav */
  --sidenavBackgroundColor: rgb(31, 30, 30);
  --sidenavColor: rgb(255, 255, 255);
  --sidenavExpansionMenuBodyExpandedFontColor: rgb(255, 255, 255);
  --sidenavExpansionMenuBodyExpandedFontColorHover: rgb(255, 255, 255);
  --addCategoryButtonBackgroundColor: rgb(0, 135, 212) ;
  --addCategoryButtonColor: rgb(255, 255, 255);
  --menuTitle: rgb(255, 255, 255);
  --menuTitleShadow: rgb(0, 0, 0);
  --headerBackgroundColor: rgb(31, 30, 30);
  --headerTextColor: rgb(255, 255, 255);
  --backgroundColor: rgb(44, 43, 43);

  /*Right Menu*/
  --rightMenuTextColor: rgb(255, 255, 255);
  --rightMenuBackgroundColor: rgb(31, 30, 30);
  --rightMenuIconsColor: rgb(255, 255, 255);

  /*Modal*/
  --modalBackgroundColor: rgb(31, 30, 30);
  --modalTextColor: rgb(255, 255, 255);

  /*Checkbox*/
  --checkboxOnClickShadow: rgb(255, 255, 255);
  --checkboxBorderColor: rgb(255, 255, 255);

 /*Mat-Card*/
 --matCardBackgroundColor: rgb(0, 0, 0, 0.1);
 --taskCardBackgroundColor: rgb(0, 0, 0, 0.1 );
 --matCardTaskDetailsBackgroundColor: rgb(0, 0, 0, 0.15);

 /*Mat-Form-Field*/
 --matFormFieldTextColor: rgb(255, 255, 255);
 --matFormFieldDisabledTextColor: rgb(255, 255, 255);
 --matFormFieldBackgroundFillColor: rgba(0, 0, 0, 0.4);

 /*Mat-Tab*/
 --matTabLabelTextColor: rgb(255, 255, 255);
 --matTabLabelActiveTextColor: rgb(255, 255, 255);
 --matTabLabelInactiveTextColor: rgb(167, 167, 167);

 /*Home Mat-Expansion*/
 --homeMatExpansionTextColor: rgb(255, 255, 255);
 --matExpansioMenuListTextColor: rgb(255, 255, 255);
 --matExpansionBodyHomeBackgroundColor: rgb(31, 30, 30);
 --MenuExpansionPanelArrow: rgb(255, 255, 255);
 --homeMatExpansionBackgroundColor: rgb(31, 30, 30);
 --homeMatExpansionExpandedBackgroundColor: rgb(31, 30, 30);
 --menuMatExpansionExpandedBackgroundColor: rgb(0, 0, 0, 0.2);
 --menuMatExpansionMatNavListBackgroundColor: rgb(0, 0, 0, 0.4) ;
 --matExpansionMenuTextColor: rgba(255, 255, 255) ;

 /*Category Category Card*/
 --categoryCardTitleColor: rgb(255, 255, 255);
 --detailsCardTextColor: rgb(255, 255, 255);
 --matCardTaskDescriptionColor: rgb(255, 255, 255);
 --matCardEmptyTaskTextColor: rgb(255, 255, 255);

 /*Mat-Select*/
 --matSelectBackgroundColor: rgb(36, 36, 36);
 --matSelectTextColor: rgb(255, 255, 255);

 /*mat-paginator*/
 --matPaginatorBackgroundColor: transparent;
 --matPaginatorTextColor: rgba(255, 255, 255);
 --homePaginatorBackgroundColor: transparent;
 --homePaginatortextColor: rgba(255, 255, 255);

 /*Mat-Datepicker*/
 --matDatePickerSelectedValueBackgroundColor: rgb(0, 135, 212);
 --matDatePickerBackgroundColor: rgb(36, 36, 36);
 --matDatePickerTextColor: rgb(255, 255, 255);

 /*Login*/
 --loginTitleColor: rgb(255, 255, 255);
 --linksColor: rgb(179, 179, 179);
 --linksHoverColor: rgb(255, 255, 255);

   /*Table*/
  --tableThBackgroundColor: rgb(0, 0, 0, 0.4);
  --tableThTextColor: rgba(255, 255, 255);
  --tableRowHoverColor: rgba(255, 255, 255, 0.1);
  --tableTdTextColor: rgba(255, 255, 255);
  --tableBackgroundColor: rgb(44, 43, 43);
  --emptyTableBackgroundColor: rgb(44, 43, 43);

}
