<div style="display: flex; justify-content: space-between; vertical-align: auto;" >
  <h1 mat-dialog-title> {{ 'CREATE_CATEGORY_MODAL.AdicionarCategoria' | translate }} </h1>
  <button mat-icon-button mat-dialog-close class="pHover">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
<div>

  <form [formGroup]="formCategory" (ngSubmit)="createCategory()">
    <div class="mt-3">
      <mat-form-field appearance="fill" >
        <mat-label> {{ 'CREATE_CATEGORY_MODAL.Nome' | translate }} </mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div class="actions mt-1">
      <div>
        <button class="save-button" mat-raised-button  [disabled]="loading || formCategory.invalid">
          {{ 'CREATE_CATEGORY_MODAL.Salvar' | translate }}
        </button>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="keepOpen" [ngModelOptions]="{standalone: true}">
          <span style="font-size: 0.80em">
            {{ 'CREATE_CATEGORY_MODAL.ManterJanelaAberta' | translate }}
          </span>
        </mat-checkbox>
      </div>
    </div>
  </form>

</div>
