<div class="background">
  <div class="main">
    <div style="width: 100%; display: flex; justify-content: end;">
      <button mat-raised-button class="add-button mb-3" (click)="openModalAddTask(false)">
        <mat-icon>add</mat-icon> {{ 'CATEGORY.AdicionarTarefa' | translate }}
      </button>
    </div>

    <!--TO DO TASKS-->
    <mat-expansion-panel [expanded]="false" class="mb-3">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tarefas a Fazer <em>({{todoTasksDataSource.filteredData.length}})</em>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="table-area">
        <div class="table-responsive">
          <table mat-table *ngIf="todoTasksDataSource.filteredData.length > 0" [dataSource]="todoTasksDataSource"
            class="full-width-table">

            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <mat-checkbox [checked]="verifyIfTaskIsDone(row)" (click)="changeTaskStatus(row)"
                    matTooltip="Concluir tarefa"></mat-checkbox>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descrição</th>
              <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
            </ng-container>

            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> Prioridade </th>
              <td mat-cell *matCellDef="let row"> {{ row.priority }} </td>
            </ng-container>

            <ng-container matColumnDef="initialDate">
              <th mat-header-cell *matHeaderCellDef> Data Inicial </th>
              <td mat-cell *matCellDef="let row"> {{ row.initialDate ? (row.initialDate | date: 'dd/MM/yyyy') : '-'  }}
              </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef> Data Final </th>
              <td mat-cell *matCellDef="let row"> {{ row.deadline ? (row.deadline | date: 'dd/MM/yyyy') : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <div>
                    <button mat-mini-fab class="edit-button" matTooltip="{{ 'CATEGORY.Editar' | translate }}"
                      matTooltipPosition="below" (click)="openUpdateTaskDialog(row.id)">
                      <mat-icon class="icon-table">edit</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <div>
                    <button mat-mini-fab class="delete-button" matTooltip="{{ 'CATEGORY.Deletar' | translate }}"
                      matTooltipPosition="below" (click)="openDeleteTaskConfirmationDialog(row.id)">
                      <mat-icon class="icon-table">delete</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator class="mt-3" *ngIf="todoTasksDataSource.filteredData.length > 0"
          [length]="todoTasksDataSource.filteredData.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
          [hidePageSize]="true" showFirstLastButtons>
        </mat-paginator>

        <div *ngIf="todoTasksDataSource.filteredData.length == 0" class="empty-table">
          <em>
            {{ 'CATEGORY.NaoHaNenhumaTarefaParaFazer' | translate }}
          </em>
        </div>

      </div>
    </mat-expansion-panel>

    <!--DONE TASKS-->
    <mat-expansion-panel [expanded]="false" class="mb-3">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tarefas Concluídas <em>({{doneTasksDataSource.filteredData.length}})</em>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="table-area">
        <div class="table-responsive">
          <table *ngIf="doneTasksDataSource.filteredData.length > 0" mat-table [dataSource]="doneTasksDataSource"
            class="full-width-table">

            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <mat-checkbox [checked]="verifyIfTaskIsDone(row)" (click)="changeTaskStatus(row)"
                    matTooltip="Retomar tarefa"></mat-checkbox>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descrição</th>
              <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
            </ng-container>

            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> Prioridade </th>
              <td mat-cell *matCellDef="let row"> {{ row.priority }} </td>
            </ng-container>

            <ng-container matColumnDef="initialDate">
              <th mat-header-cell *matHeaderCellDef> Data Inicial </th>
              <td mat-cell *matCellDef="let row"> {{ row.initialDate ? (row.initialDate | date: 'dd/MM/yyyy') : '-'  }}
              </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef> Data Final </th>
              <td mat-cell *matCellDef="let row"> {{ row.deadline ? (row.deadline | date: 'dd/MM/yyyy') : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <div>
                    <button mat-mini-fab class="edit-button" matTooltip="{{ 'CATEGORY.Editar' | translate }}"
                      matTooltipPosition="below" (click)="openUpdateTaskDialog(row.id)">
                      <mat-icon class="icon-table">edit</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <div>
                    <button mat-mini-fab class="delete-button" matTooltip="{{ 'CATEGORY.Deletar' | translate }}"
                      matTooltipPosition="below" (click)="openDeleteTaskConfirmationDialog(row.id)">
                      <mat-icon class="icon-table">delete</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <mat-paginator class="mt-3" *ngIf="doneTasksDataSource.filteredData.length > 0"
          [length]="doneTasksDataSource.filteredData.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
          [hidePageSize]="true" showFirstLastButtons>
        </mat-paginator>

        <div *ngIf="doneTasksDataSource.filteredData.length == 0" class="empty-table">
          <em>
            {{ 'CATEGORY.NaoHaNenhumaTarefaConcluida' | translate }}.
          </em>
        </div>

      </div>
    </mat-expansion-panel>

    <!-- NOT STARTED TASKS-->
    <mat-expansion-panel [expanded]="false" class="mb-3">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tarefas Não Iniciadas <em>({{notStartedTasksDataSource.filteredData.length}})</em>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="table-area">
        <div class="table-responsive">
          <table mat-table *ngIf="notStartedTasksDataSource.filteredData.length > 0"
            [dataSource]="notStartedTasksDataSource" class="full-width-table">

            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <mat-checkbox [checked]="verifyIfTaskIsDone(row)" (click)="changeTaskStatus(row)"
                    matTooltip="Concluir tarefa"></mat-checkbox>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descrição</th>
              <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
            </ng-container>

            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> Prioridade </th>
              <td mat-cell *matCellDef="let row"> {{ row.priority }} </td>
            </ng-container>

            <ng-container matColumnDef="initialDate">
              <th mat-header-cell *matHeaderCellDef> Data Inicial </th>
              <td mat-cell *matCellDef="let row"> {{ row.initialDate ? (row.initialDate | date: 'dd/MM/yyyy') : '-' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef> Data Final </th>
              <td mat-cell *matCellDef="let row"> {{ row.deadline ? (row.deadline | date: 'dd/MM/yyyy') : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <div>
                    <button mat-mini-fab class="edit-button" matTooltip="{{ 'CATEGORY.Editar' | translate }}"
                      matTooltipPosition="below" (click)="openUpdateTaskDialog(row.id)">
                      <mat-icon class="icon-table">edit</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <div>
                    <button mat-mini-fab class="delete-button" matTooltip="{{ 'CATEGORY.Deletar' | translate }}"
                      matTooltipPosition="below" (click)="openDeleteTaskConfirmationDialog(row.id)">
                      <mat-icon class="icon-table">delete</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <mat-paginator class="mt-3" *ngIf="notStartedTasksDataSource.filteredData.length > 0"
          [length]="notStartedTasksDataSource.filteredData.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
          [hidePageSize]="true" showFirstLastButtons>
        </mat-paginator>

        <div *ngIf="notStartedTasksDataSource.filteredData.length == 0" class="empty-table">
          <em>
            {{ 'CATEGORY.NaoHaNenhumaTarefaNaoIniciada' | translate }}.
          </em>
        </div>

      </div>
    </mat-expansion-panel>

    <!-- EXPIRED TASKS-->
    <mat-expansion-panel [expanded]="false" class="mb-3">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tarefas Expiradas <em>({{expiredTasksDataSource.filteredData.length}})</em>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="table-area">
        <div class="table-responsive">
          <table mat-table *ngIf="expiredTasksDataSource.filteredData.length > 0" [dataSource]="expiredTasksDataSource"
            class="full-width-table">

            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <mat-checkbox [checked]="verifyIfTaskIsDone(row)" (click)="changeTaskStatus(row)"
                    matTooltip="Concluir tarefa"></mat-checkbox>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descrição</th>
              <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
            </ng-container>

            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> Prioridade </th>
              <td mat-cell *matCellDef="let row"> {{ row.priority }} </td>
            </ng-container>

            <ng-container matColumnDef="initialDate">
              <th mat-header-cell *matHeaderCellDef> Data Inicial </th>
              <td mat-cell *matCellDef="let row"> {{ row.initialDate ? (row.initialDate | date: 'dd/MM/yyyy') : '-' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef> Data Final </th>
              <td mat-cell *matCellDef="let row"> {{ row.deadline ? (row.deadline | date: 'dd/MM/yyyy') : '-' }} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <div>
                    <button mat-mini-fab class="edit-button" matTooltip="{{ 'CATEGORY.Editar' | translate }}"
                      matTooltipPosition="below" (click)="openUpdateTaskDialog(row.id)">
                      <mat-icon class="icon-table"> edit</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <ng-container>
                  <div>
                    <button mat-mini-fab class="delete-button" matTooltip="{{ 'CATEGORY.Deletar' | translate }}"
                      matTooltipPosition="below" (click)="openDeleteTaskConfirmationDialog(row.id)">
                      <mat-icon class="icon-table">delete</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <mat-paginator class="mt-3" *ngIf="expiredTasksDataSource.filteredData.length > 0"
          [length]="expiredTasksDataSource.filteredData.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
          [hidePageSize]="true" showFirstLastButtons>
        </mat-paginator>

        <div *ngIf="expiredTasksDataSource.filteredData.length == 0" class="empty-table">
          <em>
            {{ 'CATEGORY.NaoHaNenhumaTarefaExpirada' | translate }}.
          </em>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
