<div class="background">
  <div class="centralize">
    <div class="main">
      <div class="row">
        <div class="col-9">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Adicionar Lembrete
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
        <div class="col-3">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Calendário
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="calendar">
              <mat-calendar></mat-calendar>
            </div>
          </mat-expansion-panel>
        </div>
      </div>

    </div>
  </div>
</div>
